@import 'mixin';
@keyframes floweriukas {
  0%{
    height: 0;
  }
  100%{
    height: 50%;
  }
}
@keyframes bloom {
  0%{
    transform:scale(0.1);
    opacity: 1;
  }
  30%{
    transform: scale(0.5);
    opacity: 1;
  }
  70%{
    transform: scale(1);
    opacity: 1;
  }

  80%{
    transform: scale(0.5);
    opacity: 1;
  }
  100%{
    transform: scale(0.1);
    opacity: 1;
  }

}
@keyframes textas {
  0%{

  }
  100%{
    opacity: 1;
  }
  
}
@keyframes leaf {
  0%{
    @include sizes (0px,0px);
  }
  50%{
    @include sizes (50px,50px);
  }
  100%{
    @include sizes (100px,100px);
  }
}
@keyframes burning {
  0%
  {
    right: 50px;
  }
  100%
  {box-shadow: 27px 14px 32px 200px rgb(248, 244, 5);}
}